.page {
  display: flex;
  flex-direction: column;
  user-select: none;
  height: 100vh;
  width: 100vw;
  user-select: none;
}

.header {
  height: 44px;
  width: 100%;
  background: rgba(255, 255, 255, 0.96);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 16px;
  img {
    width: 10px;
    height: 17px;
  }
}
.others{
  display: flex;
  width: 84%;
  overflow-x: auto;
}
.others :first-child{
  margin-left: auto;
}
.others::-webkit-scrollbar {
  display: none;
}
.users {
  position: relative;
  padding: 6px 4px;
  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  .dot{
    width:7px;
    height:7px;
    background:rgba(255,77,60,1);
    position: absolute;
    top: 6px;
    right: 5px;
    border-radius: 50%;
  }
}

:global(.popContent) {
    display: flex;
    flex-direction: column;
    user-select: none;
    height: 90vh;
    overflow: auto;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
}
.username{
  height: 40px;
  text-align: center;
  width: 100%;
  font-size: 18px;
  line-height: 40px;
  margin: 10px 0;
}
.main {
  flex: 1;
  overflow: auto;
}
.welcome {
  margin: 10px 0;
  text-align: center;
  padding: 16px 0 10px;
  font-size: 12px;
  color: rgba(25, 29, 35, 0.5);
  line-height: 17px;
}
.avatar {
  width: 32px;
  height: 32px;
  overflow: hidden;
  margin: 0 10px 0 20px;
  img {
    width: 32px;
    height: 32px;
    border-radius: 9px;
  }
}
.othersMsg {
  margin: 20px 0;
  display: flex;
  .info {
    display: flex;
    font-size: 12px;
    margin-bottom: 4px;
    color: rgba(25, 29, 35, 0.5);
    line-height: 17px;
  }
  .name {
    margin-right: 5px;
  }
  .message {
    background: rgba(244, 244, 244, 1);
    border-radius: 12px;
    max-width: 190px;
    padding: 13px 16px;
    min-height: 14px;
    font-size: 14px;
    color: rgba(25, 29, 35, 1);
    line-height: 20px;
  }
}
.msg {
  margin: 20px 0;
  display: flex;
  justify-content: flex-end;
  .time {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    margin-top: 4px;
    color: rgba(25, 29, 35, 0.5);
    line-height: 17px;
  }
  .avatar {
    margin: 0 20px 0 10px;
  }
  .message {
    background: rgba(255, 234, 222, 1);
    border-radius: 12px;
    max-width: 190px;
    padding: 13px 16px;
    min-height: 14px;
    font-size: 14px;
    color: rgba(25, 29, 35, 1);
    line-height: 20px;
  }
}

.chat {
  margin: 20px 24px;
  height: 44px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  background: rgba(242, 242, 242, 1);
  input {
    width: 100%;
    background: rgba(242, 242, 242, 1);
    border-radius: 12px;
    min-height: 20px;
    font-size: 14px;
    color: rgba(25, 29, 35, 1);
    line-height: 20px;
    outline: none;
    border: none;
    padding: 12px 40px 12px 12px;
  }
  .send {
    padding-right: 20px;
    height: 44px;
    display: flex;
    align-items: center;
    img {
      width: 20px;
      height: 20px;
    }
  }
}
